@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

:root{
    --color-sea: #ff0000;
    --color-carbon: #4C4C4C;
    --color-cloud: #FFFFFF;
    --color-primary-brand: #000000;
    --color-cloud-secundary: #f7f7f7;

    --color-target-blue: linear-gradient(101.17deg, #1255E1 13.18%, #213E7F 87.96%);
    --color-target-gold: linear-gradient(101.17deg, #E9C444 13.18%, #997C15 87.96%);
    --color-target-black: linear-gradient(101.17deg, #160F41 13.18%, #01030D 87.96%);

    --color-success: rgb(18, 180, 18);
    --color-fail: rgb(255, 51, 51);
    --box-shadow-button: 0px 16px 32px -4px rgba(33, 62, 127, 0.2);
    --color-active: #e0e0e0;
}